{% extends 'Base/Base.html' %}
{% block title %}Tech MUD | Blogs {{title}}{% endblock %}
{% load static %}
{% block css_1 %}{% static 'Styles/Bootstrap/bootstrap.css' %}{% endblock %}
{% block css_2 %}{% static 'Styles/Pages/Blogs/main.css' %}{% endblock %}
{% block css_3 %}{% static 'Styles/Pages/Blogs/linearicons.css' %}{% endblock %}
{% block css_4 %}{% static 'Styles/Pages/Blogs/font-awesome.min.css' %}{% endblock %}
{% block css_5 %}{% static 'Styles/Blogs/Blogs.css' %}{% endblock %}
{% block active_blogs %}is-active{% endblock %}

{% block body %}
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post row">
          <div class="col-lg-12">
            <div class="feature-img">
              <img class="img-fluid top-img" src="{% static thumb %}" alt="" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="blog_info text-right">
              <ul class="blog_meta list">
                <li>
                  <a href="{% url 'About' %}"
                    >Mudasir Ali<i class="lnr lnr-user"></i
                  ></a>
                </li>
                <li>
                  <a href="#">{{date}}<i class="lnr lnr-calendar-full"></i></a>
                </li>
              </ul>
              <ul class="social-links">
                <li>
                  <a href="{% url 'Facebook_link' %}" target="_blank"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="{% url 'Twitter_link' %}" target="_blank"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="{% url 'Github_link' %}" target="_blank"
                    ><i class="fa fa-github"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 blog_details">
            <h2>{{title}}</h2>
            <p class="excert">{{desc}}</p>
          </div>
          <div class="col-lg-12">
            <div class="quotes">
              <!-- Queto Bos -->
            </div>
            <div class="row">
              <div class="col-lg-12 mt-25">
                {% block blog_content %}
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
        <div class="navigation-area">
          <div class="row">
            <div
              class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center"
            >
              <div class="thumb">
                <a href="{% url prev_post_link %}"
                  ><img
                    class="img-fluid n-p-post-img"
                    src="{% static prev_post_thumb %}"
                    alt=""
                /></a>
              </div>
              <div class="arrow">
                <a href="{% url prev_post_link %}"
                  ><span class="lnr text-white lnr-arrow-left"></span
                ></a>
              </div>
              <div class="detials">
                <p>Prev Post</p>
                <a href="{% url prev_post_link %}">
                  <h4>{{prev_post_title}}</h4>
                </a>
              </div>
            </div>
            <div
              class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center"
            >
              <div class="detials">
                <p>Next Post</p>
                <a href="{% url next_post_link %}">
                  <h4>{{next_post_title}}</h4>
                </a>
              </div>
              <div class="arrow">
                <a href="{% url next_post_link %}"
                  ><span class="lnr text-white lnr-arrow-right"></span
                ></a>
              </div>
              <div class="thumb">
                <a href="{% url next_post_link %}"
                  ><img
                    class="img-fluid n-p-post-img"
                    src="{% static next_post_thumb %}"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Not working yet"
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="lnr lnr-magnifier"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget author_widget">
            <img
              class="author_img rounded-circle"
              src="{% static 'Pics/my-pic.jpg' %}"
              alt=""
            />
            <h4>Mudasir Ali</h4>
            <p>Creator of Tech MUD</p>
            <div class="social_icon">
              <a href="{% url 'Facebook_link' %}" target="_blank"
                ><i class="fa fa-facebook"></i
              ></a>
              <a href="{% url 'Twitter_link' %}" target="_blank"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="{% url 'Github_link' %}" target="_blank"
                ><i class="fa fa-github"></i
              ></a>
            </div>
            <p>
              {{aboutme}}
              <a href="{% url 'About' %}">Click here</a>
            </p>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Recent Posts</h3>
            <div class="media post_item">
              <img src="{% static recent_post_1_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_1_link %}">
                  <h3>{{recent_post_1_title}}</h3>
                </a>
                <p>{{recent_post_1_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_2_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_2_link %}">
                  <h3>{{recent_post_2_title}}</h3>
                </a>
                <p>{{recent_post_2_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_3_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_3_link %}">
                  <h3>{{recent_post_3_title}}</h3>
                </a>
                <p>{{recent_post_3_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_4_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_4_link %}">
                  <h3>{{recent_post_4_title}}</h3>
                </a>
                <p>{{recent_post_4_date}}</p>
              </div>
            </div>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget ads_widget">
            <div class="br"></div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- BlogSide_1 -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9694874056946796"
                data-ad-slot="6366009945"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="ad">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Blog_1 -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-9694874056946796"
      data-ad-slot="4031407521"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{% endblock %}
