* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  background-image: url("./1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.top h1 {
  color: rgb(36, 170, 170);
  margin-top: 2rem;
  font-family: sans-serif;
}

.form {
  margin: 5rem auto;
  font-family: sans-serif;
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  color: rgb(20, 119, 128);
  padding-top: 17px;
  padding-left: 2px;
  border: none;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgb(53, 49, 49);
}

.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid rgb(20, 119, 128);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.label-span {
  position: absolute;
  bottom: 10px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .input-label .label-span,
.form input:valid + .input-label .label-span {
  transform: translateY(-100%);
  font-size: 15px;
  color: rgb(20, 119, 128);
}

.form input:focus + .input-label::after,
.form input:valid + .label-span::after {
  transform: translateX(0%);
}
