{% extends 'Base/Base.html' %}
{% block title %}Tech MUD | Videos{% endblock %}
{% load static %}
{% block active_videos %}active{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="card large my-box">
          <div class="card-image">
            <figure class="image is-5by4">
              <a href="{% url video_3_link %}"
                ><img src="{% static video_3_thumb %}" alt="Image"
              /></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media is-flex is-flex-direction-column">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="{% static mudasir %}"
                    class="circle-img"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-5 no-padding">
                  <a href="{% url 'About' %}">{{name}}</a>
                </p>
                <p class="subtitle is-6">{{brief}}</p>
              </div>
            </div>
            <div class="content">
              <h1 class="title is-5">{{video_3_title}}</h1>
              <p>{{video_3_desc}}</p>
              <time datetime="2020-14-8">{{video_3_date}}</time><br /><br />
              <a href="{% url video_3_link %}">Start Watching >></a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card large my-box">
          <div class="card-image">
            <figure class="image is-5by4">
              <a href="{% url video_2_link %}"
                ><img src="{% static video_2_thumb %}" alt="Image"
              /></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media is-flex is-flex-direction-column">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="{% static mudasir %}"
                    class="circle-img"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-5 no-padding">
                  <a href="{% url 'About' %}">{{name}}</a>
                </p>
                <p class="subtitle is-6">{{brief}}</p>
              </div>
            </div>
            <div class="content">
              <h1 class="title is-5">{{video_2_title}}</h1>
              <p>{{video_2_desc}}</p>
              <time datetime="2020-14-8">{{video_2_date}}</time><br /><br />
              <a href="{% url video_2_link %}">Start Watching >></a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card large my-box">
          <div class="card-image">
            <figure class="image is-5by4">
              <a href="{% url video_1_link %}"
                ><img src="{% static video_1_thumb %}" alt="Image"
              /></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media is-flex is-flex-direction-column">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="{% static mudasir %}"
                    class="circle-img"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-5 no-padding">
                  <a href="{% url 'About' %}">{{name}}</a>
                </p>
                <p class="subtitle is-6">{{brief}}</p>
              </div>
            </div>
            <div class="content">
              <h1 class="title is-5">{{video_1_title}}</h1>
              <p>{{video_1_desc}}</p>
              <time datetime="2020-14-8">{{video_1_date}}</time><br /><br />
              <a href="{% url video_1_link %}">Start Watching >></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

{% endblock %}


<div class="ad">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Videos_2 -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-9694874056946796"
      data-ad-slot="8571524975"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>