{% extends 'Must/Must.html' %}
{% block title %}Tech MUD | Videos{% endblock %}
{% load static %}
{% block css_1 %}{% static 'Styles/Pages/Videos/Videos.css' %}{% endblock %}
{% block active_videos %}active{% endblock %}

{% block body %}




  
<div class="container box-container">

  <div class="section">

    <div class="row columns is-multiline">

      <div class="column is-4">
        <div class="card large my-box">
          <div class="card-image">
            <figure class="image is-5by4">
              <a href="{% url video_3_link %}"><img src="{% static video_3_thumb %}" alt="Image"></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="{% static mudasir %}" class="circle-img" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-5 no-padding"><a href="{% url 'About' %}">{{name}}</a></p>
                <p class="subtitle is-6">{{brief}}</p>
              </div>
            </div>
            <div class="content">
              <h1 class="title is-5">{{video_3_title}}</h1>
              <p>{{video_3_desc}}</p>
              <time datetime="2020-14-8">{{video_3_date}}</time><br><br>
              <a href="{% url video_3_link %}" >Start Watching >></a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card large my-box">
          <div class="card-image">
            <figure class="image is-5by4">
              <a href="{% url video_2_link %}"><img src="{% static video_2_thumb %}" alt="Image"></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="{% static mudasir %}" class="circle-img" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-5 no-padding"><a href="{% url 'About' %}">{{name}}</a></p>
                <p class="subtitle is-6">{{brief}}</p>
              </div>
            </div>
            <div class="content">
              <h1 class="title is-5">{{video_2_title}}</h1>
              <p>{{video_2_desc}}</p>
              <time datetime="2020-14-8">{{video_2_date}}</time><br><br>
              <a href="{% url video_2_link %}" >Start Watching >></a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card large my-box">
          <div class="card-image">
            <figure class="image is-5by4">
              <a href="{% url video_1_link %}"><img src="{% static video_1_thumb %}" alt="Image"></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="{% static mudasir %}" class="circle-img" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-5 no-padding"><a href="{% url 'About' %}">{{name}}</a></p>
                <p class="subtitle is-6">{{brief}}</p>
              </div>
            </div>
            <div class="content">
              <h1 class="title is-5">{{video_1_title}}</h1>
              <p>{{video_1_desc}}</p>
              <time datetime="2020-14-8">{{video_1_date}}</time><br><br>
              <a href="{% url video_1_link %}" >Start Watching >></a>
            </div>
          </div>
        </div>
      </div>
      

    </div>

  </div>

</div>




{% endblock %}
