
.textinput{
    width: 65%;
    margin-bottom: 5px;
}

#hint_id_username{
    font-weight: bold;
}

#id_email{
    margin-bottom: 10px;
    width: 65%;
}

#id_birth_date{
    width: 65%;
    margin-bottom: 10px;
}

.control-group{
    margin: 10px 0;
}

.btn-block{
    margin: 5px 0;
}

#id_bio{
    padding: 5px 5px;
}