{% extends 'Must/Must.html' %}
{% block title %}Tech MUD | Blogs {{title}}{% endblock %}
{% load static %}
{% block css_1 %}{% static 'Styles/Blogs/Blogs.css' %}{% endblock %}
{% block css_2 %}{% static 'Styles/Pages/Blogs/main.css' %}{% endblock %}
{% block css_3 %}{% static 'Styles/Pages/Blogs/linearicons.css' %}{% endblock %}
{% block css_4 %}{% static 'Styles/Pages/Blogs/font-awesome.min.css' %}{% endblock %}
{% block active_blogs %}active{% endblock %}

{% block body %}
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post row">
          <div class="col-lg-12">
            <div class="feature-img">
              <img class="img-fluid top-img" src="{% static thumb %}" alt="" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="blog_info text-right">
              <ul class="blog_meta list">
                <li>
                  <a href="{% url 'About' %}"
                    >Mudasir Ali<i class="lnr lnr-user"></i
                  ></a>
                </li>
                <li>
                  <a href="#">{{date}}<i class="lnr lnr-calendar-full"></i></a>
                </li>
              </ul>
              <ul class="social-links">
                <li>
                  <a href="{% url 'Facebook_link' %}" target="_blank"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="{% url 'Twitter_link' %}" target="_blank"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="{% url 'Github_link' %}" target="_blank"
                    ><i class="fa fa-github"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 blog_details">
            <h2>{{title}}</h2>
            <p class="excert">{{desc}}</p>
          </div>
          <div class="col-lg-12">
            <div class="quotes">
              <!-- Queto Bos -->
            </div>
            <div class="row">
              <div class="col-lg-12 mt-25">
                <h2 class="tile is-4">10. C</h2>
                <p class="subtitle is-5">
                  C is by far the most important
                  programming language on
                  this list and is
                  responsible for the
                  existence of many of
                  the tools and languages
                  we use every single
                  day. Now is the core of
                  almost all operating
                  systems,
                  microcontrollers,
                  embedded systems, and a
                  lot of enterprise level
                  applications see is
                  extremely flexible and
                  versatile and allows
                  control over low-level
                  components and hardware
                  that is not found in
                  many higher level
                  programming languages,
                  especially a lot of the
                  other ones on this
                  list. Now, many
                  experienced
                  developers, highly
                  recommend learning C as
                  it teaches you many
                  fundamental programming
                  concepts that will
                  carry over to a lot of
                  other programming
                  languages, C excels at
                  memory management and
                  fast and efficient
                  execution of code. And
                  all of that said, C is
                  extremely difficult to
                  learn. It is not
                  necessary for many
                  developers, but it's
                  definitely something
                </p>
                <br>
                <h2 class="tile is-4">9. C sharp</h2>
                <p class="subtitle is-5">
                  C sharp is extremely
                  versatile and can be
                  used to make pretty
                  much anything that said
                  it is particularly well
                  suited for building
                  windows based
                  applications and games,
                  and is also commonly
                  used to build web
                  applications and
                  recently has become
                  more popular in mobile
                  app development. Now
                  I'm sure many of you
                  are familiar with the
                  game development engine
                  called unity. Uh, this
                  uses C-sharp to design
                  and create games. So
                  like other languages on
                  this list, C sharp is
                  maintained by Microsoft
                  is continuing to grow
                  year over year. One of
                  the core advantages of
                  C-sharp is how massive
                  its library is
                  providing you with
                  higher level
                  functionality compared
                  to language to say like
                  Java or C plus plus,
                  although this language
                  is not as popular as
                  some of the other
                  languages on this list,
                  C sharp is a great
                  language to learn, and
                  it is still demanded
                  heavily in the
                  programming industry.

                </p>
                <div class="ad">
                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- Blog_1 -->
                  <ins class="adsbygoogle"
                      style="display:block"
                      data-ad-client="ca-pub-9694874056946796"
                      data-ad-slot="4031407521"
                      data-ad-format="auto"
                      data-full-width-responsive="true"></ins>
                  <script>
                      (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
                <br>
                <h2 class="tile is-4">8. PHP</h2>
                <p class="subtitle is-5">
                  Now PHP
                  is a general purpose
                  scripting language that
                  is especially well
                  suited to server side
                  web development. So it
                  usually runs on a web
                  server and PHP is known
                  as an old dying
                  language and there are
                  many alternatives to it
                  now that are typically
                  recommended for new
                  development. That being
                  said, many developers
                  still must know and be
                  able to write in PHP.
                  And that is because it
                  is used all over the
                  web, mostly in older
                  code basis. Now to give
                  you some examples,
                  Facebook, Yahoo and
                  Wikipedia were
                  originally developed in
                  PHP and WordPress
                  actually uses a ton of
                  PHP today. So there's a
                  few specific cases
                  where you may want to
                  use PHP, but personally
                  I wouldn't recommend
                  anyone learn it or even
                  use it unless you have
                  a very good reason to
                  do so.
                </p>

                <br>
                <h2 class="tile is-4">7. Ruby</h2>
                <p class="subtitle is-5">
                  Now Ruby is
                  a general purpose
                  programming language
                  pretty similar to
                  Python is also
                  dynamically typed
                  object oriented. It is
                  a general purpose
                  scripting language, and
                  it can be used for many
                  different applications,
                  but obviously its most
                  popular implementation
                  is rails otherwise
                  known as Ruby on rails,
                  which is used to design
                  web applications. Now
                  Ruby is considered to
                  be more elegant than
                  Python in terms of web
                  development and is used
                  on popular sites like
                  Shopify, get hub,
                  Airbnb, Fiverr, and
                  many more. It is fast
                  and to very strict
                  standards and those
                  standards make it
                  easier to learn and
                  generally makes the
                  code much more clear
                  when you're reading
                  through it. And at
                  number eight, we have
                  everybody's favorite
                  programming language,

                </p>

                <br>
                <h2 class="tile is-4">6. TypeScript</h2>
                <p class="subtitle is-5">
                  TypeScript is another
                  new ish programming
                  language that was
                  actually developed at
                  Microsoft and happens
                  to be a super set of
                  JavaScript. So this
                  means almost everything
                  you know about
                  JavaScript is
                  transferable to
                  TypeScript with a few
                  minor exceptions. Now
                  TypeScript is, as it
                  reads a statically
                  typed language that
                  actually transpiles
                  into native JavaScript.
                  So all your TypeScript
                  code actually gets
                  transpired or compiled,
                  whatever you want to
                  call it into JavaScript
                  before it runs. Now,
                  the reason why it
                  exists is actually to
                  make developers lives
                  easier by providing
                  interfaces modules,
                  optional, static,
                  typing, better code
                  navigation, error
                  detection, and just a
                  ton of other things
                  that help with
                  maintainability
                  readability and all
                  those things that I've
                  mentioned. Now,
                  TypeScript is used in
                  replacement or
                  conjunction with
                  JavaScript to provide a
                  better development
                  experience. So while
                  working at Microsoft
                  this summer actually
                  wrote a bunch of code
                  for the Python
                  extension in vs code
                  using solely
                  TypeScript. So I highly
                  recommend all
                  JavaScript developers
                  checkout TypeScript. It
                  won't take you long to
                  learn and it's
                  definitely worth it.

                </p>
                <div class="ad">
                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- Blog_2 -->
                  <ins class="adsbygoogle"
                      style="display:block"
                      data-ad-client="ca-pub-9694874056946796"
                      data-ad-slot="1903937639"
                      data-ad-format="auto"
                      data-full-width-responsive="true"></ins>
                  <script>
                      (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
                <br>
                <h2 class="tile is-4">5. C++</h2>
                <p class="subtitle is-5">
                  So C plus
                  plus is the industry
                  standard for AAA games
                  and is used extensively
                  to develop 3d
                  applications, operating
                  systems, browsers,
                  compilers, and other
                  countless performance
                  dependent applications.
                  Now C plus plus is
                  extremely fast and as a
                  somewhat unique ability
                  to interface with the
                  user's hardware, giving
                  it much more control on
                  a lower level. So
                  imagine like talking to
                  a graphics card now C
                  plus plus is known for
                  being a difficult
                  language to learn and
                  write in and is not
                  recommended for
                  beginners. Generally
                  speaking, you should
                  have a good reason to
                  use C plus plus when
                  there are often easier
                  and faster options to
                  develop with now, it's
                  worth noting that C
                  plus plus is also used
                  on the web, but
                  typically you'll see it
                  more in embedded
                  systems and performance
                  concerned applications.
                  Like I've mentioned now
                  some examples of C plus
                  plus it's used in the
                  Apple iOS
                  it's part of Microsoft
                  windows. It's using
                  database software like
                  my SQL and of course
                  almost all your AAA 3d
                  games use C plus plus.
                </p>

                <br>
                <h2 class="tile is-4">4. Golang</h2>
                <p class="subtitle is-5">
                  Golan is number four on
                  this list and is a
                  fairly new and widely
                  used programming
                  language. Goaling
                  emerged as an
                  alternative to C plus
                  plus and Java for the
                  app developers at
                  Google and was actually
                  created by two Google
                  employees and released
                  in 2012. Now robust
                  system level language,
                  right? Typically used
                  on the server side for
                  large scale distributed
                  systems goes designed
                  around concurrency and
                  is extremely
                  performance. Heavy goes
                  used across
                  millions of Google
                  servers and is the
                  backend of some popular
                  websites like Dropbox.
                  Now Golang also has
                  Python like syntax and
                  as performance similar
                  to C plus plus now this
                  makes it its main
                  advantage in how
                  quickly you can develop
                  with it while still
                  maintaining high
                  performance. Now I
                  personally am a huge
                  fan of go and would
                  encourage anyone,
                  especially any of you
                  that know Python to
                  look into it because
                  it's a really
                  interesting language
                  and something to add to
                  your tool belt.
                </p>
                <div class="ad">
                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- Blog_3 -->
                  <ins class="adsbygoogle"
                      style="display:block"
                      data-ad-client="ca-pub-9694874056946796"
                      data-ad-slot="5500401869"
                      data-ad-format="auto"
                      data-full-width-responsive="true"></ins>
                  <script>
                      (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
                <br>
                <h2 class="tile is-4">3. Java</h2>
                <p class="subtitle is-5">
                  So Java is
                  known for being a dying
                  programming language,
                  but it's actually still
                  quite widely used and
                  comes into our list at
                  number three. Now Java
                  is another general
                  purpose language that
                  is well suited for game
                  and mobile app
                  development, enterprise
                  level applications, and
                  also web apps. Now Java
                  is a statically typed
                  language. It is
                  compiled and although
                  it may be frustrating
                  to write in, it
                  provides many
                  advantages in terms of
                  structure and code
                  maintainability that
                  you won't get in say
                  Python and JavaScript.
                  Now some of those
                  popular applications
                  that use Java are of
                  course Minecraft, the
                  Adobe creative suite
                  and most general
                  Android applications.
                  Now, as I said, Java is
                  the core for Android
                  mobile app development
                  and all the languages
                  like Kotlin now exists.
                  It is still used very
                  heavily over 3 billion
                  devices, run Java and
                  it follows the WRA
                  principle, which is
                  write once run
                  anywhere. So once
                  you've compiled your
                  Java code, it can run
                  on any device that runs
                  Java. And to summarize
                  all of this Java
                  actually is not that
                  bad of a programming
                  language. And I would
                  definitely recommend
                  learning it.
                </p>

                <br>
                <h2 class="tile is-4">2. Python</h2>
                <p class="subtitle is-5">
                  Python is a general
                  purpose programming
                  language, meaning it
                  has a much wider use
                  case than something
                  like JavaScript that
                  would is heavily used
                  in server-side
                  applications, ethical
                  and I guess non ethical
                  hacking data science,
                  machine learning,
                  artificial
                  intelligence,
                  scientific computing,
                  and general scripting
                  tasks. Now Python is
                  known to be easy, to
                  learn, easy to read and
                  easy to write. So this
                  makes a great for
                  smaller projects and
                  the tasks that I listed
                  above, but its main
                  disadvantage comes from
                  its lack of speed. And
                  the fact that it is
                  dynamically typed now
                  just like JavaScript.
                  This makes it difficult
                  to maintain in large
                  scale projects. So
                  Python has also been
                  used in millions of
                  applications around the
                  world. Some of them are
                  Instagram, YouTube,
                  Dropbox. It was
                  actually used by NASA
                  in their integrated
                  planning system and was
                  even responsible for
                  the AI and the game
                  civilization for so
                  Python is usually
                  capable of
                  accomplishing most
                  programming tasks, but
                  oftentimes there are
                  far better choices.
                  They may be less
                  versatile, but they
                  will be better at that
                  specific task.
                </p>
                <div class="ad">
                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <ins class="adsbygoogle"
                      style="display:block"
                      data-ad-format="fluid"
                      data-ad-layout-key="-fb+5w+4e-db+86"
                      data-ad-client="ca-pub-9694874056946796"
                      data-ad-slot="7626921031"></ins>
                  <script>
                      (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
                <br>
                <h2 class="tile is-4">1. JavaScript</h2>
                <p class="subtitle is-5">
                  JavaScript is an
                  extremely popular
                  programming language
                  that is used everywhere
                  on the web. Now,
                  although JavaScript can
                  be used as a server
                  side programming
                  language with tools
                  like node.js , it is
                  commonly run client
                  side within a web
                  browser. Now this
                  enables JavaScript to
                  be one of the most
                  versatile languages
                  when it comes to
                  building interactive
                  front end user
                  interfaces, any modern
                  website, you visit uses
                  a ton of JavaScript to
                  make the website
                  interactive and any
                  dialogue form or
                  animation you see is
                  likely being controlled
                  by JavaScript. And now
                  with the popularity of
                  front end frameworks
                  like boo JS react and
                  angular, it is not
                  surprising the
                  JavaScript tops this
                  list. Now as a final
                  thought, it's worth
                  noting that JavaScript
                  is dynamically typed,
                  and although it can be
                  used for many other
                  applications, there are
                  typically much better
                  choices.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="navigation-area">
          <div class="row">
            <div
              class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center"
            >
              <div class="thumb">
                <a href="{% url prev_post_link %}"
                  ><img
                    class="img-fluid n-p-post-img"
                    src="{% static prev_post_thumb %}"
                    alt=""
                /></a>
              </div>
              <div class="arrow">
                <a href="{% url prev_post_link %}"
                  ><span class="lnr text-white lnr-arrow-left"></span
                ></a>
              </div>
              <div class="detials">
                <p>Prev Post</p>
                <a href="{% url prev_post_link %}">
                  <h4>{{prev_post_title}}</h4>
                </a>
              </div>
            </div>
            <div
              class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center"
            >
              <div class="detials">
                <p>Next Post</p>
                <a href="{% url next_post_link %}">
                  <h4>{{next_post_title}}</h4>
                </a>
              </div>
              <div class="arrow">
                <a href="{% url next_post_link %}"
                  ><span class="lnr text-white lnr-arrow-right"></span
                ></a>
              </div>
              <div class="thumb">
                <a href="{% url next_post_link %}"
                  ><img
                    class="img-fluid n-p-post-img"
                    src="{% static next_post_thumb %}"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Not working yet"
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="lnr lnr-magnifier"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget author_widget">
            <img
              class="author_img rounded-circle"
              src="{% static 'Pics/my-pic.jpg' %}"
              alt=""
            />
            <h4>Mudasir Ali</h4>
            <p>Creator of Tech MUD</p>
            <div class="social_icon">
              <a href="{% url 'Facebook_link' %}" target="_blank"
                ><i class="fa fa-facebook"></i
              ></a>
              <a href="{% url 'Twitter_link' %}" target="_blank"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="{% url 'Github_link' %}" target="_blank"
                ><i class="fa fa-github"></i
              ></a>
            </div>
            <p>
              {{aboutme}}
              <a href="{% url 'About' %}">Click here</a>
            </p>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Recent Posts</h3>
            <div class="media post_item">
              <img src="{% static recent_post_1_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_1_link %}">
                  <h3>{{recent_post_1_title}}</h3>
                </a>
                <p>{{recent_post_1_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_2_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_2_link %}">
                  <h3>{{recent_post_2_title}}</h3>
                </a>
                <p>{{recent_post_2_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_3_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_3_link %}">
                  <h3>{{recent_post_3_title}}</h3>
                </a>
                <p>{{recent_post_3_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_4_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_4_link %}">
                  <h3>{{recent_post_4_title}}</h3>
                </a>
                <p>{{recent_post_4_date}}</p>
              </div>
            </div>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget ads_widget">
            <div class="br"></div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- BlogSide_1 -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9694874056946796"
                data-ad-slot="6366009945"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="ad">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Blog_1 -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-9694874056946796"
      data-ad-slot="4031407521"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{% endblock %}
