{% extends 'Blog/Base/Base.html' %}
{% load static %}
{% block blog_content %}
<h2 class="tile is-4">6. Chart.js</h2>
<img src="{% static 'Pics/Blogs/chart.jpg' %}" alt="" />
<p class="subtitle is-5">
  Chart.js is very interesting if you think about any data visualization tool or
  library in javascript people are going to point you to chart.js. chart.js is
  awesome because it shows you data in different ways. Chart.js was created by
  london-based developer nick downey and it was in 2003. so already it's about
  seven years old what i like a lot about this is that the fact that you know me
  seeing that a library has been out for a couple of years just shows me how
  stable that platform is you know a lot of people try to create new tools just
  so that they can get their name out so that they can you know maybe fix a
  specific problem but the thing about it is that you actually want it to last a
  while you want it for people to use it to develop it into something else for
  it to grow and so chart.js is something like that it is great for data
  visualization like i told you guys and the cool thing about it is that it uses
  animation effects out of the box.
</p>
<br />
<h2 class="title is-4">5. jQuery</h2>
<img src="{% static 'Pics/Blogs/jquery.jpeg' %}" alt="" />
<p class="subtitle is-5">
  jQuery is interesting because it was actually the first library that i used in
  javascript because it's funny man i started off with javascript and it was um
  kind of hard for me to to to pick it up just because i was like oh man html is
  pretty easy and css is kind of easy too but then i started using javascript i
  thought it was a little bit complicated but you know comparing it to something
  like java i know the javascript is way easier to implement to learn to pick up
  and all of this i also think that it's a little bit more human-like and not so
  machine-like but the thing about this is that i was having a hard time you
  know looking for a an easy library to implement into my code so i stumbled
  upon jQuery because i heard that it's actually one of the most famous ones and
  it's interesting because it's actually kind of old it's to it was released in
  2006 by John Resig. this is john right here thank you john you know right now
  at least 50 and a lot of studies they show this that at least 50 of all known
  websites use some type of So the cool thing about this is that it can actually
  select dom elements and even create animations and handle events but it's
  getting little bit outdated when you want to connect it with the more modern
  technologies it might have a little bit of problem.
</p>
<br />
<h2 class="title is-4">4. Anime.js</h2>
<div class="ad">
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <!-- Blog_1 -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-9694874056946796"
    data-ad-slot="4031407521"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<br />
<img src="{% static 'Pics/Blogs/anime.png' %}" alt="" />
<p class="subtitle is-5">
  The internet is becoming so advanced that you can even do animations using
  javascript. Anime.js is great for that it's more for 2d designs and but you
  can also do 3d designs on it. Anime.js one of the most popular js animation
  libraries out there without a freaking doubt and the cool thing about it is
  that it's supported by most major browsers so you don't have to worry about
  you know you writing that code for it and not being supported by anything and
  it's cool because you can actually just you know add animations really fast
  you don't have to be an expert to start writing this you can just if you know
  a little bit of code and you know how things interact with each other then you
  can end up with really cool animations.
</p>
<br />
<h2 class="title is-4">3. Vue.js</h2>
<img class="img-fluid" src="{% static 'Pics/Blogs/veu.png' %}" alt="" />
<p class="subtitle is-5">
  Vue.js is funny because it's it's very similar to angular and react in the
  same way that it's a SPA you know it's a Single Page Application library and
  the cool thing about it as well is that you know the name itself says veu is
  view but it's kind of like a wordplay to show that it's you know it's related
  to everything that you view on the website so it was developed by Evan You
  while he was in google and it's cool because you can easily mix it and match
  it with other other different projects so if you're using angular or you're
  using react and you want to mix it up with. If you're using angular and you
  want to mix it up with react it's going to be hard for you if you're react and
  you want to mix it with vue it's going to be very easy same with angular. So
  vue makes it very easy for you to mix it in your actual projects right now so
  it's it's easy for you to use it as a front end and then connect it to a
  back-end technology such as nodejs or anything related to that the cool thing
  about it is that it uses a virtual dom just like react does so it doesn't have
  to wait for the whole page to load it actually just updates things on the fly
  this is this really literally changed the internet. So vue is easy to learn.
</p>
<br />
<h2 class="title is-4">2. React.js</h2>
<img class="img-fluid" src="{% static 'Pics/Blogs/react.png' %}" alt="" />
<div class="ad">
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <!-- Blog_2 -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-9694874056946796"
    data-ad-slot="1903937639"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<br />
<p class="subtitle is-5">
  So React right now has a big market share for web development specifically
  because it's very very big you know there's a lot of demand for it there is so
  much community behind it . And the react is create by facebook. And the guy
  who created react was Jordan Walke and he made it while he was still working
  in facebook. Javascript is actually used for ui interfaces and ui interfaces
  pretty much means end development you know the way that the user interacts
  with the actual application so react made it very very simple. One of the cool
  thing about it is that regularly react is sometimes called a SPA (Single Page
  Application). so like i said it's used for interfaces and the cool thing about
  it that is that it can dynamically load content without having to refresh the
  whole page so that is completely awesome in my opinion. One of the biggest
  things that i loved about facebook is that you can actually like pages and you
  can see it update on the fly without having to wait for the whole page to
  refresh sometimes that's super slow so that literally just changed everything
  it's like when you're on facebook you're just in one simple window pretty much
  and that's what it means pretty much you know to be in a single page
  application you can do several different functions on it it's going to be a
  little bit more limited than multi-page applications because obviously you
  have to load everything in the same page. Right now use react is used by huge
  companies like: Microsoft, Walmart, Tesla, Dropbox, Paypal, Airbnb, Netflix,
  Reddit, New York's time and even apple uses it.
</p>
<br />
<h2 class="title is-4">1. Angular</h2>
<img class="img-fluid" src="{% static 'Pics/Blogs/angular.png' %}" alt="" />
<p class="subtitle is-5">
  As you guys know Angular is one of the most popular libraries in javascript. A
  lot of different experts consider it a framework as well but it's also a
  library so one of the things about angular is that it is actually developed by
  google google so it's funny you know all all of these big companies like
  facebook google and a bunch of them actually develop their own libraries and
  frameworks just because they have to go through different you know problems
  that they themselves have to solve and what happens well they put out they
  actually put up tools for the whole market to use and they're very beneficial
  and angular is one of them that google made so angular is interesting because
  it was actually released in 2010 so angular is 10 years old so you can talk
  about it being a stable. One of the cool things about it is that it was
  completely revamped in 2016 and the thing about it is that they changed
  completely their philosophy on it and after the version 2 they actually
  started to use typescript. angular is actually became a framework when it
  turned into version 2. and right now version 2 is is what is being used.
</p>
<br />
<div class="ad">
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <!-- Blog_1 -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-9694874056946796"
    data-ad-slot="4031407521"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{% endblock %}