{% extends 'Must/Must.html' %}
{% block title %}Tech MUD | Blogs {{title}}{% endblock %}
{% load static %}
{% block css_1 %}{% static 'Styles/Blogs/Blogs.css' %}{% endblock %}
{% block css_2 %}{% static 'Styles/Pages/Blogs/main.css' %}{% endblock %}
{% block css_3 %}{% static 'Styles/Pages/Blogs/linearicons.css' %}{% endblock %}
{% block css_4 %}{% static 'Styles/Pages/Blogs/font-awesome.min.css' %}{% endblock %}
{% block active_blogs %}active{% endblock %}


{% block body %}
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post row">
          <div class="col-lg-12">
            <div class="feature-img">
              <img class="img-fluid top-img" src="{% static thumb %}" alt="" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="blog_info text-right">
              <ul class="blog_meta list">
                <li>
                  <a href="{% url 'About' %}"
                    >Mudasir Ali<i class="lnr lnr-user"></i
                  ></a>
                </li>
                <li>
                  <a href="#">{{date}}<i class="lnr lnr-calendar-full"></i></a>
                </li>
              </ul>
              <ul class="social-links">
                <li>
                  <a href="{% url 'Facebook_link' %}" target="_blank"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="{% url 'Twitter_link' %}" target="_blank"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="{% url 'Github_link' %}" target="_blank"
                    ><i class="fa fa-github"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 blog_details">
            <h2>{{title}}</h2>
            <p class="excert">{{desc}}</p>
          </div>
          <div class="col-lg-12">
            <div class="quotes">
              <!-- Queto Bos -->
            </div>
            <div class="row">
              <div class="col-lg-12 mt-25">
                <h2 class="tile is-4">7. REST API</h2>
                <p class="subtitle is-5">
                  If you want to do any type of web development learn apis
                  they're so powerful and almost every single application you're
                  gonna try to build or use is going to require apis either
                  that's going to require you to learn how to use api so you can
                  pull data from it and do stuff with it or people want you to
                  build apis for them so like hey take my json file and turn it
                  into api so i can use it from anywhere or take my database
                  turn it into an api so i can use it from cloud anywhere in the
                  world there's tons of functionality and use cases for how you
                  can use apis like one example i'll give you real world is like
                  i wanted to know how much money are we making every day in our
                  business so what we're doing is we're using a selenium scraper
                  to go to this one website log in and this website by the way
                  does not have an api so like i want to get a text message like
                  hey we made 1500 today or we made 3 dollars today on my phone
                  as a business owner i want that now as a developer it's your
                  job to be able to get me that information but it's tricky so
                  the solution we came up with is let's use selenium to log into
                  the website scrape the website and scrape yesterday's sales so
                  let's say yesterday's sale says 2600 scrape it now how do we
                  send it as a text message here's what we do we launch it up in
                  the cloud so we actually put it in a rest api we build an api
                  for and we put it in the api and then on my end all i have to
                  do is actually i got to just do a get request and pull it from
                  the cloud and using twilio twilio's api send it to myself as a
                  text message okay so there are a bunch of different things
                  happening here we're using api to actually put it in the cloud
                  and then we're using a get request so we're using the api and
                  then we're using twilio's api to send it as a text message on
                  my phone guys that cannot happen without apis good luck
                  building something like twilio to send text messages good luck
                  building something that actually like gets you that
                  information so that's why when you use apis you're leveraging
                  what already exists and you're building on top of it okay so
                  learn apis they are a brilliant skill you can leverage the
                  power of google search engine if you learn apis you can build
                  a python like base detection software with like six lines of
                  code because it's using apis and it's using something that
                  already exists you can get the power of instagram you know
                  like with few lines of code because you can use their apis so
                  i think you should definitely have this in your toolbox as a
                  software developer javascript developer or web developer.
                </p>
                <br />
                <h2 class="title is-4">6. Firebase</h2>
                <p class="subtitle is-5">
                  Firebase allows you to do everything aws allows you to do i've
                  built tons of things with aws and i've built a bunch of things
                  with firebase so much easier to go with firebase firebase is
                  built by google anything you can do in aws it's 100 times
                  thousand times easier to do it in firebase definitely don't
                  start with aws you're gonna get into a nightmare with aws you
                  have to like learn about how does redshift database work oh i
                  also have to go to my security groups and like whitelist ip
                  addresses oh what is ec2 what are lambda functions oh is my
                  function located in oregon or ohio you have to actually know
                  that oh like you're a developer you don't want to like start
                  learning and becoming like an i.t person right that's kind of
                  annoying so stay away from that unless you absolutely need to
                  learn it if you learn it with firebase once you learn all the
                  skills you can then apply to aws easy no problem it's just so
                  amazing to be able to have a hybrid between a sql and a nosql
                  database and it scales so well it is so lightning fast and you
                  can build the two-way functionality of like full crud
                  functionality within minutes and it allows you to be in your
                  code if you're coding in react or javascript with just a few
                  lines of code it gives you full functionality to be able to
                  add things to your firebase delete things from your firebase
                  without having to like write full-on crazy mvc style
                  programming creating routes all this crazy stuff it allows you
                  to do it so fast you don't even need a back-end like node.js
                  or anything like that to be able to interface with your
                  firebase app so i would say learn firebase i think it's a
                  highly valuable skill and it's only going up as time goes on
                  people are learning at extremely fast rate learn firebase.
                </p>
                <br />
                <h2 class="title is-4">5. typescript</h2>
                <p class="subtitle is-5">
                  Think about like react it allows you to write and react code
                  but in a way where it is like more statically typed what that
                  means is you're declaring your data types as you go along now
                  it might sound annoying to want to do that but what's amazing
                  about it is that your code becomes a lot more robust stable
                  way easier to read and you will make much less errors on top
                  of that it's a skill a lot of people are looking for in a
                  developer and they're willing to pay a much higher amount to
                  work with somebody who understands and knows typescript.
                </p>
                <br />
                <h2 class="title is-4">4. Redux</h2>
                <p class="subtitle is-5">
                  Redux is something that's hard to kind of grasp and understand
                  right away the one i explained when if i hit add to basket or
                  add to cart button at the card button like maybe changes to
                  one or it changes to two redux can allow you to do that
                  without necessarily even hitting refresh and it can actually
                  manage the entire state without ever having to go to another
                  page or doing any type of redirect and so that state
                  management is a very important skill to learn as a javascript
                  or a react developer but because redux is hard learn it in a
                  two-step approach the first step is actually learn something
                  called context api and then go and learn redux as step two
                  again none of these skills are highly paid on their own you
                  kind of have to know multiple things right if you want to be a
                  chef you want to be good at cleaning you want to be good at
                  like actually cooking you also want to know about spices you
                  can't just be like oh the only thing i do is like put it on
                  the stove like i'm really good at like microwaving but any
                  type of ecommerce functionality you want to add as a react
                  developer you're going to need to learn redux.
                </p>
                <br />
                <h2 class="title is-4">3. GIT</h2>
                <p class="subtitle is-5">
                  GIT is essentially version control or how i think of it as
                  kind of like a time machine if you make mistakes it allows you
                  to rewind in your app that you're making and go back so for
                  example if you're adding multiple different functionality you
                  can think of it like in a video game where you have save and
                  checkpoints you can load from really any checkpoint or any
                  save that you made so let's say like you build a login
                  functionality into your app you hit save then let's say you
                  build in the functionality in your app to display products but
                  then imagine for some reason your login functionality broke
                  and then like your entire app broke and you're like what the
                  hell just happened like everything was working fine and now
                  one month into the project and everything is broke what git
                  allows you to do essentially load and you can actually just
                  load back to when you built the login functionality is working
                  perfectly and just continue from there i think it's one really
                  important skill there's almost nobody doing any kind of coding
                  or real development or a job that doesn't really know git like
                  i don't know a single person.
                </p>
                <br />
                <h2 class="title is-4">2. Node.js</h2>
                <p class="subtitle is-5">
                  A lot of companies are still using node.js and they are still
                  paying for that so i think it's a valuable skill to learn. So
                  i think that's one of the skills you should have in your
                  toolbox.
                </p>
                <br />
                <h2 class="title is-4">1. React.js</h2>
                <p class="subtitle is-5">
                  React is a javascript library so it's still javascript at the
                  end of the day but react allows you to do really amazing
                  things with javascript really really fast just think about
                  like you take javascript you give it steroids you get react
                  it's basically javascript with super powers why should you use
                  reactor who else is using react. react is being used by the
                  top tech companies in the world some of those companies
                  include tesla, reddit, whatsapp, facebook, instagram, paypal
                  and so many other companies that are using react every single
                  day that's what they're actually built on. At the end of the
                  day people don't really care about your words that much what
                  they want to look at is what is your skill level and how they
                  judge you on that is based on what you've built the projects
                  so as a developer just let the portfolio. React has something
                  called a virtual dom which essentially means that it allows
                  you to really change things on the dom really really really
                  fast okay that's the most basic way to think about it if
                  you're on instagram and you type in a comment it doesn't
                  actually refresh the entire page what it's doing is it's only
                  refreshing that comment that's why it's so fast if you guys go
                  to a bunch of apps like instagram facebook you'll notice they
                  don't actually refresh things happen in real time when you
                  click stuff or when you post stuff the whole page doesn't
                  refresh all of that is happening because of react. react has
                  reusable components this is another big thing about why you
                  should actually learn and use react what does it mean to have
                  reusable components well in react when you develop you're
                  actually building things and breaking them into separate
                  components of their own.
                </p>
                <br />
              </div>
            </div>
          </div>
        </div>
        <div class="navigation-area">
          <div class="row">
            <div
              class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center"
            >
              <div class="thumb">
                <a href="{% url prev_post_link %}"
                  ><img
                    class="img-fluid n-p-post-img"
                    src="{% static prev_post_thumb %}"
                    alt=""
                /></a>
              </div>
              <div class="arrow">
                <a href="{% url prev_post_link %}"
                  ><span class="lnr text-white lnr-arrow-left"></span
                ></a>
              </div>
              <div class="detials">
                <p>Prev Post</p>
                <a href="{% url prev_post_link %}">
                  <h4>{{prev_post_title}}</h4>
                </a>
              </div>
            </div>
            <div
              class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center"
            >
              <div class="detials">
                <p>Next Post</p>
                <a href="{% url next_post_link %}">
                  <h4>{{next_post_title}}</h4>
                </a>
              </div>
              <div class="arrow">
                <a href="{% url next_post_link %}"
                  ><span class="lnr text-white lnr-arrow-right"></span
                ></a>
              </div>
              <div class="thumb">
                <a href="{% url next_post_link %}"
                  ><img
                    class="img-fluid n-p-post-img"
                    src="{% static next_post_thumb %}"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Not working yet"
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="lnr lnr-magnifier"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget author_widget">
            <img
              class="author_img rounded-circle"
              src="{% static 'Pics/my-pic.jpg' %}"
              alt=""
            />
            <h4>Mudasir Ali</h4>
            <p>Creator of Tech MUD</p>
            <div class="social_icon">
              <a href="{% url 'Facebook_link' %}" target="_blank"
                ><i class="fa fa-facebook"></i
              ></a>
              <a href="{% url 'Twitter_link' %}" target="_blank"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="{% url 'Github_link' %}" target="_blank"
                ><i class="fa fa-github"></i
              ></a>
            </div>
            <p>
              {{aboutme}}
              <a href="{% url 'About' %}">Click here</a>
            </p>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Recent Posts</h3>
            <div class="media post_item">
              <img src="{% static recent_post_1_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_1_link %}">
                  <h3>{{recent_post_1_title}}</h3>
                </a>
                <p>{{recent_post_1_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_2_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_2_link %}">
                  <h3>{{recent_post_2_title}}</h3>
                </a>
                <p>{{recent_post_2_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_3_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{{recent_post_3_link}}">
                  <h3>{{recent_post_3_title}}</h3>
                </a>
                <p>{{recent_post_3_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_4_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{{recent_post_4_link}}">
                  <h3>{{recent_post_4_title}}</h3>
                </a>
                <p>{{recent_post_4_date}}</p>
              </div>
            </div>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget ads_widget">
            <div class="br"></div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
