{% extends 'Must/Must.html' %}
{% block title %}Tech MUD | Blogs {{title}}{% endblock %}
{% load static %}
{% block css_1 %}{% static 'Styles/Blogs/Blogs.css' %}{% endblock %}
{% block css_2 %}{% static 'Styles/Pages/Blogs/main.css' %}{% endblock %}
{% block css_3 %}{% static 'Styles/Pages/Blogs/linearicons.css' %}{% endblock %}
{% block css_4 %}{% static 'Styles/Pages/Blogs/font-awesome.min.css' %}{% endblock %}
{% block active_blogs %}active{% endblock %}

{% block body %}
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post row">
          <div class="col-lg-12">
            <div class="feature-img">
              <img class="img-fluid top-img" src="{% static thumb %}" alt="" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="blog_info text-right">
              <ul class="blog_meta list">
                <li>
                  <a href="{% url 'About' %}"
                    >Mudasir Ali<i class="lnr lnr-user"></i
                  ></a>
                </li>
                <li>
                  <a href="#">{{date}}<i class="lnr lnr-calendar-full"></i></a>
                </li>
              </ul>
              <ul class="social-links">
                <li>
                  <a href="{% url 'Facebook_link' %}" target="_blank"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="{% url 'Twitter_link' %}" target="_blank"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="{% url 'Github_link' %}" target="_blank"
                    ><i class="fa fa-github"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 blog_details">
            <h2>{{title}}</h2>
            <p class="excert">{{desc}}</p>
          </div>
          <div class="col-lg-12">
            <div class="quotes">
              <!-- Queto Bos -->
            </div>
            <div class="row">
              <div class="col-lg-12 mt-25">
                <h2 class="tile is-4">5. Weebly</h2>
                <img src="{% static 'Pics/Blogs/weebly.jpg' %}" alt="">
                <p class="subtitle is-5">
                    I noticed that the sign
                    up process in weebly is very easy you can
                    register for free with just a name
                    email and password and then you
                    immediately get started by choosing the
                    type of website that you want to create
                    and viewing a handful of themes within
                    that category. Now they really don't have many themes
                    to choose from which is a downside
                    but the ones that they do have each have
                    a very clean and creative design
                    the user dashboard for your account is
                    very minimal and easy to navigate which
                    i really liked
                    and the editing interface was as well
                    it's got this really cool
                    simple drag and drop method of building
                    your website where you can add
                    text, images, galleries, contact, forms, buttons, videos and more to drag an
                    element in you just simply tap and hold
                    on it
                    and then place it wherever you want.
                </p>
                <br>
                <h2 class="title is-4">4. Wix</h2>
                <img src="{% static 'Pics/Blogs/wix.png' %}" alt="">
                <p class="subtitle is-5">
                    wix is very easy
                    to sign up with for free and get started
                    on any type of website that you want
                    and any extra added features such as a
                    blog
                    a booking page a store and more then
                    they have about 15 different themes that
                    you can choose from
                    their editing interface was pretty user
                    friendly because you can just click on
                    any section that you want
                    change the text images and buttons the
                    downside was that you can't change the
                    font or color of the text
                    within a theme you would have to choose
                    a completely different theme in order to
                    do this
                    you can add a new section by tapping on
                    the plus button anywhere you want to
                    place it but i found that they don't
                    have many options to choose from as far
                    as new sections
                    and certain things like adding an
                    instagram section you have to actually
                    go over to a physical computer to
                    connect
                    with no instruction on how to do that
                    one thing i did like was that you can
                    easily change the themes with the button
                    at the bottom
                    as well as add or delete new pages for
                    your website
                    i also like that customizing the contact
                    form was pretty robust
                    being able to add images a map custom
                    business address
                    and more but another downside to wix was
                    that the user dashboard was
                    very busy and confusing it actually took
                    me a while to figure out how to get back
                    to editing my website
                    once i was in the user dashboard but on
                    the other hand
                    you can see analytics handle email
                    marketing create coupons for your store
                    add new roles and permissions to other
                    people and more all through the user
                    dashboard on your phone.
                </p>
                <br>
                <h2 class="title is-4">3. MilkShake</h2>
                <img src="{% static 'Pics/Blogs/milkshake.png' %}" alt="">
                <p class="subtitle is-5">
                    After
                    signing up you can immediately grab a
                    free url
                    but you can't get a custom.com domain
                    which is unfortunate the user interface
                    is very simple you can select a card
                    pick a style or
                    theme for that card and then edit the
                    image the text
                    the button text and the url and the
                    descriptions
                    and there's this really cool shake it up
                    button where you can
                    instantly see your card in different
                    styles after you've created it
                    now there were a few major downsides to
                    milkshake though
                    number one is that there's only a few
                    cards to choose from
                    none of which are a contact form or
                    anything with advanced functionality
                    to add to your website purely visual
                    number two
                    the final website isn't able to be
                    scrolled up or down
                    it's navigated left and right hence the
                    cards
                    which will end up hiding a lot of your
                    content and number three there is no
                    desktop view
                    even viewing the site on a desktop it
                    shows up looking like a mobile
                    simulation.
                </p>
                <br>
                <h2 class="title is-4">2. UNIVERSE</h2>
                <img src="{% static 'Pics/Blogs/universe.jpg' %}" style="height: 10%;" alt="">
                <p class="subtitle is-5">
                    Universe was actually a very
                    interesting find and it's fairly new
                    after opening the app you can choose
                    from a custom domain if you'd like
                    which was very expensive because you're
                    paying for universe pro
                    with it so it comes out to around 25
                    dollars a month or 120
                    a year but you can get a free domain by
                    tapping on skip
                    but you won't be able to choose what
                    that domain is then you simply pick the
                    type of website that
                    you want browse through their pre-made
                    styles and then you can start editing
                    and the editing is very very
                    user-friendly you simply tap and hold
                    for a second and drag over the amount of
                    blocks that you want to create a new
                    element for and then you can choose an
                    element such as
                    text photos videos buttons
                    contact forms galleries and more and you
                    can reorder anything you want by simply
                    tapping and holding and then dragging
                    any element wherever you want it and you
                    can add new rows at the bottom
                    as well as change the background and the
                    theme of your website at any time you
                    can also change the font
                    colors and size of the text which is
                    fantastic
                    universe made making a website very fun
                    and creative which is why it's my second
                    favorite app
                    i love that you can create an awesome
                    mosaic effect with elements on your
                    website
                    and customize how the images are
                    displayed you can also decide on how
                    each element will function
                    such as opening up a new page opening up
                    a new website
                    sending an email or calling a phone
                    number the downside was that if you want
                    to view the website on desktop it looks
                    more like a tablet version
                    than an actual desktop version so i'd
                    consider this website best for someone
                    who wants a digital business card that's
                    easily shareable over mobile
                    but all in all the user interface was
                    incredible.
                </p>
                <br>
                <h2 class="title is-4">1. Square Space</h2>
                <img src="{% static 'Pics/Blogs/squarespace.jpeg' %}" alt="">
                <p class="subtitle is-5">
                    Squarespace was by far
                    my favorite
                    because it was most directly replicated
                    to what it's like to build a website
                    on the computer version of squarespace
                    but with the comfort and ease of a phone
                    and 
                    squarespace i genuinely tested
                    all these apps for several days and
                    found that this one was my favorite
                    upon opening the app you immediately get
                    started by picking a template and you
                    have
                    tons of options and what i loved about
                    squarespace was that you can see what
                    your website will look like on desktop
                    tablet and mobile directly on your phone
                    it gives you a simulation of each one
                    and the user dashboard was very easy to
                    navigate
                    between finding where to edit your
                    website edit your header
                    and customizing the overall style of
                    your website and there's a menu at the
                    bottom to add or reorganize pages on
                    your site
                    as well as site settings such as
                    changing the logo
                    the title handling your email marketing
                    seo
                    admin permissions for other editors
                    blogging and more
                    editing my site with squarespace was
                    very easy to do you can use the style
                    editor button up at the top right
                    to change fonts color schemes animations
                    button styles and more across your
                    entire website you can change text by
                    just tapping and typing
                    as well as changing button text and
                    adding custom urls to buttons
                    you can add new sections anywhere by
                    tapping on the plus button
                    and selecting any custom block that you
                    want out of several different categories
                    there's
                    lots of designs and layouts to choose
                    from for each block
                    and it's as simple as adding it to your
                    site and replacing the text in the
                    images i
                    also found it easy to customize your
                    contact form by adding new fields and
                    putting in where you want your emails to
                    be sent to
                    and you can even connect cloud storage
                    such as google drive
                    or you can even hook up mailchimp to
                    build an email subscriber list
                    and all the websites on the squarespace
                    app are fully responsive for mobile
                    tablet and desktop so you don't have to
                    do any extra editing.
                </p>
                <br />
              </div>
            </div>
          </div>
        </div>
        <div class="navigation-area">
          <div class="row">
            <div
              class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center"
            >
              <div class="thumb">
                <a href="{% url prev_post_link %}"
                  ><img
                    class="img-fluid n-p-post-img"
                    src="{% static prev_post_thumb %}"
                    alt=""
                /></a>
              </div>
              <div class="arrow">
                <a href="{% url prev_post_link %}"
                  ><span class="lnr text-white lnr-arrow-left"></span
                ></a>
              </div>
              <div class="detials">
                <p>Prev Post</p>
                <a href="{% url prev_post_link %}">
                  <h4>{{prev_post_title}}</h4>
                </a>
              </div>
            </div>
            <div
              class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center"
            >
              <div class="detials">
                <p>Next Post</p>
                <a href="{% url next_post_link %}">
                  <h4>{{next_post_title}}</h4>
                </a>
              </div>
              <div class="arrow">
                <a href="{% url next_post_link %}"
                  ><span class="lnr text-white lnr-arrow-right"></span
                ></a>
              </div>
              <div class="thumb">
                <a href="{% url next_post_link %}"
                  ><img
                    class="img-fluid n-p-post-img"
                    src="{% static next_post_thumb %}"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Not working yet"
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="lnr lnr-magnifier"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget author_widget">
            <img
              class="author_img rounded-circle"
              src="{% static 'Pics/my-pic.jpg' %}"
              alt=""
            />
            <h4>Mudasir Ali</h4>
            <p>Creator of Tech MUD</p>
            <div class="social_icon">
              <a href="{% url 'Facebook_link' %}" target="_blank"
                ><i class="fa fa-facebook"></i
              ></a>
              <a href="{% url 'Twitter_link' %}" target="_blank"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="{% url 'Github_link' %}" target="_blank"
                ><i class="fa fa-github"></i
              ></a>
            </div>
            <p>
              {{aboutme}}
              <a href="{% url 'About' %}">Click here</a>
            </p>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Recent Posts</h3>
            <div class="media post_item">
              <img src="{% static recent_post_1_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_1_link %}">
                  <h3>{{recent_post_1_title}}</h3>
                </a>
                <p>{{recent_post_1_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_2_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_2_link %}">
                  <h3>{{recent_post_2_title}}</h3>
                </a>
                <p>{{recent_post_2_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_3_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_3_link %}">
                  <h3>{{recent_post_3_title}}</h3>
                </a>
                <p>{{recent_post_3_date}}</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="{% static recent_post_4_thumb %}" class="recent-post-img" alt="post" />
              <div class="media-body">
                <a href="{% url recent_post_4_link %}">
                  <h3>{{recent_post_4_title}}</h3>
                </a>
                <p>{{recent_post_4_date}}</p>
              </div>
            </div>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget ads_widget">
            <div class="br"></div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
