{% extends 'Blog/Base/Base.html' %}
{% load static %}
{% block blog_content %}
<h2 class="tile is-4">4. Haskell</h2>
<p class="subtitle is-5">
  Haskell programming language is essentially a very functional programming
  language but it's also very very difficult to learn and difficult to
  understand. according to pipel it's currently in place number 27 and pipel
  takes a lot of different things into its equation when it's figuring out like
  which programming language is popular or which one is kind of losing interest
  so it will look at things like how many google searches are being taken place
  for this how many answers are there available for this in the community how
  active the community is so for haskell it's kind of going down this is one of
  the programming languages that is dying now.
</p>
<br />
<h2 class="title is-4">3. Perl</h2>
<p class="subtitle is-5">
  Pearl is one of those languages that is on the decline. Perl is on position 22
  in the pipal index it's going down in popularity it also means going down and
  a lot of the support around that community again disclaimer so they're not a
  lot of those people being really upset really hurt if you're learning this
  there's still jobs out there for it there's still people. that are willing to
  pay you for it it's just not as popular it's just declining okay so don't take
  it so seriously to your heart all right. But pearl is one of the programming
  languages that's dying.
</p>
<br />
<div class="ad">
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <!-- Blog_1 -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-9694874056946796"
    data-ad-slot="4031407521"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<br />
<h2 class="title is-4">2. Objective C</h2>
<p class="subtitle is-5">
  Objective C now this is a programming language that is being used that was
  being used by apple but apple over the last like 35 years has been slowly
  trying to kill it and get it out. According to the pipal index it's in
  position number eight and it is definitely on the decline compared to python
  and javascript. According to the stack overflow Objective C is the second most
  dreaded programming language.
</p>
<br />
<h2 class="title is-4">1. Visual Basic</h2>
<p class="subtitle is-5">
  Visual Basic VBA all right this is one programming language people try to run
  away from and on pipel it is ranked 15 and is on the decline and why it's
  dying not only is it losing popularity over time you know of course if you
  compare it python and javascript it's like super like low and kind of on the
  decline but another reason why it's dying is just because it's the most
  dreaded programming language it was used a lot back in the day nowadays it's
  not really used and nobody is really trying to use it that much now of course
  the disclaimer there are still jobs available for it if you did learn it you
  could still get jobs all right so just keep that in mind don't get your
  panties tied in a twist and here is vba the number one most dreaded
  programming language according to stack overflow.
</p>
<br />
<div class="ad">
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <!-- Blog_2 -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-9694874056946796"
    data-ad-slot="1903937639"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{% endblock %}