{% extends 'Videos/Base/Base.html' %}
{% load static %}

{% block code_css_1 %} {% static 'Styles/Coding/Python/Style.css' %} {% endblock %}

{% block code %}
<span class="com"># You can download all the files from the Files Tab.</span>

<span class="if">from</span> <span class="text">selenium</span> <span class="if">import</span> <span class="text">webdriver</span>
<span class="if">from</span> <span class="text">time</span> <span class="if">import</span> <span class="text">sleep</span>

<span class="text">driver</span> <span class="eq">=</span> <span class="string">'Chrome_WebDriver_Path'</span>

<span class="if">class</span> <span class="func">InstaBot</span><span class="text">:</span>
  <span class="if">def</span> <span class="func">__init__</span><span class="text">(</span><span class="atri">self</span><span class="text">,</span> <span class="atri">username</span><span class="text">,</span> <span class="atri">password</span><span class="text">):</span>
    <span class="self">self</span><span class="text">.driver</span> <span class="eq">=</span> <span class="text">webdriver.</span><span class="func">Chrome</span><span class="text">(driver)</span>

    <span class="self">self</span><span class="text">.username</span> <span class="eq">=</span> <span class="text">username</span>
    <span class="self">self</span><span class="text">.password</span> <span class="eq">=</span> <span class="text">password</span>

    <span class="self">self</span><span class="text">.driver.</span><span class="func">get</span><span class="text">(</span><span class="string">"https://www.instagram.com/"</span><span class="text">)</span>

    <span class="func">sleep</span><span class="text">(</span><span class="int">5</span><span class="text">)</span>

    <span class="self">self</span><span class="text">.driver.</span><span class="func">find_element_by_xpath</span><span class="text">(</span><span class="string">"//input[@name=\"username\"]"</span><span class="text">).</span><span class="func">send_keys</span><span class="text">(</span><span class="self">self</span><span class="text">.username)</span>
    <span class="self">self</span><span class="text">.driver.</span><span class="func">find_element_by_xpath</span><span class="text">(</span><span class="string">"//input[@name=\"password\"]"</span><span class="text">).</span><span class="func">send_keys</span><span class="text">(</span><span class="self">self</span><span class="text">.password)</span>
    <span class="self">self</span><span class="text">.driver.</span><span class="func">find_element_by_xpath</span><span class="text">(</span><span class="string">'//button[@type="submit"]'</span><span class="text">).</span><span class="func">click</span><span class="text">()</span>

    <span class="func">sleep</span><span class="text">(</span><span class="int">5</span><span class="text">)</span>

<span class="func">InstaBot</span><span class="text">(</span><span class="string">'Your Username'</span><span class="text">,</span> <span class="string">'Your Password'</span><span class="text">)</span>

{% endblock %}


{% block desc %}
{{desc}}
{% endblock %}

{% block files %}
<h2 class="is-size-4 mx-2"><a href="{% static code_download %}" download>Bot.py</a></h2>
{% endblock %}