{% extends 'Must/Must.html' %}
{% block title %}Tech MUD | Videos {{title}}{% endblock %}
{% load static %}
{% block css_1 %}{% static 'Styles/Videos/Style.css' %}{% endblock %}
{% block css_2 %}{% static 'Styles/Coding/Style.css' %}{% endblock %}
{% block active_videos %}active{% endblock %}

{% block body %}
<section class="sec-1">
  <section class="hero is-medium is-light">
    <div class="hero-body">
      <h1 class="title">
        {{title}}
      </h1>
      <iframe
        src="{{video_link}}"
        class="Video"
        allowfullscreen
      ></iframe>
    </div>
  </section>
</section>
<div class="ad">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Video_1 -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-9694874056946796"
      data-ad-slot="6808685460"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<section class="sec-2">
  <section class="hero is-large is-warning is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Description</h1>
        <h2 class="subtitle">
          <p>
            {{desc}} <br><br>

            Links <br><br>
            <a href="{% url 'Facebook_link' %}" target="_blank">Facebook</a> <a href="{% url 'Website_link' %}" target="_blank">Website</a> <a href="{% url 'Github_link' %}" target="_blank">Github</a> <a href="{% url 'Youtube_link' %}" target="_blank">Youtube</a> 
            
          </p>
        </h2>
      </div>
    </div>
  </section>
</section>
<section class="sec-3">
  <section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body code-hero-body">
      <div class="container code-container">
        <h1 class="title">Code</h1>
        <h2 class="subtitle">HTML</h2>
        <div class="code-div">
          <pre>
            <a type="button" class="btn btn-sm btn-secondary" download="" href="{% static code_download %}" style="float: right;">Download</a>
<span class="com">You have to download the Code</span>
<span class="html_bracket"><</span><span class="html_bracket">!</span><span class="html_element">DOCTYPE</span> <span class="html_property">html</span><span class="html_bracket">></span>
<span class="html_bracket"><</span><span class="html_element">html </span><span class="html_property">lang</span><span class="html_text">=</span><span class="html_string">"en"</span><span class="html_bracket">></span>
  <span class="html_bracket"><</span><span class="html_element">head</span><span class="html_bracket">></span>
    <span class="html_bracket"><</span><span class="html_element">meta</span> <span class="html_property">charset</span><span class="html_text">=</span><span class="html_string">"UTF-8"</span><span class="html_bracket">></span>
    <span class="html_bracket"><</span><span class="html_element">meta</span> <span class="html_property">name</span><span class="html_text">=</span><span class="html_string">"viewport"</span> <span class="html_property">content</span><span class="html_text">=</span><span class="html_string">"width=device-width, initial-scale=1.0"</span><span class="html_bracket">></span>
    <span class="html_bracket"><</span><span class="html_element">title</span><span class="html_bracket">></span><span class="html_text">Animated Input</span><span class="html_bracket"></span></span><span class="html_element">title</span><span class="html_bracket">></span>
    <span class="html_bracket"><</span><span class="html_element">link</span> <span class="html_property">rel</span><span class="html_text">=</span><span class="html_string">"stylesheet"</span> <span class="html_property">href</span><span class="html_text">=</span><span class="html_string">"Index.css"</span><span class="html_bracket">></span>
  <span class="html_bracket"><</span><span class="html_bracket">/</span><span class="html_element">head</span><span class="html_bracket">></span>
  <span class="html_bracket"><</span><span class="html_element">body</span><span class="html_bracket">></span>
    <span class="html_bracket"><</span><span class="html_element">div</span> <span class="html_property">class</span><span class="html_text">=</span><span class="html_string">"top"</span><span class="html_bracket">></span>
      <span class="html_bracket"><</span><span class="html_element">h1</span><span class="html_bracket">></span><span class="html_text">Animating Input</span><span class="html_bracket"><</span><span class="html_bracket">/</span><span class="html_element">h1</span><span class="html_bracket">></span>
    <span class="html_bracket"><</span><span class="html_element">div</span><span class="html_bracket">></span>
    <span class="html_bracket"><</span><span class="html_element">div</span> <span class="html_property">class</span><span class="html_text">=</span><span class="html_string">"form"</span><span class="html_bracket">></span>
      <span class="html_bracket"><</span><span class="html_element">input</span> <span class="html_property">type</span><span class="html_text">=</span><span class="html_string">"text"</span> <span class="html_property">name</span><span class="html_text">=</span><span class="html_string">"input"</span> <span class="html_property">required autocomplete</span><span class="html_text">=</span><span class="html_string">"off"</span><span class="html_bracket">></span>
      <span class="html_bracket"><</span><span class="html_element">label</span> <span class="html_property">for</span><span class="html_text">=</span><span class="html_string">"input"</span> <span class="html_property">class</span><span class="html_text">=</span><span class="html_string">"input-label"</span><span class="html_bracket">></span>
        <span class="html_bracket"><</span><span class="html_element">span</span> <span class="html_property">class</span><span class="html_text">=</span><span class="html_string">"label-span"</span><span class="html_bracket">></span>
      <span class="html_bracket"><</span><span class="html_bracket">/</span><span class="html_element">label</span><span class="html_bracket">></span>
    <span class="html_bracket"><</span><span class="html_bracket">/</span><span class="html_element">div</span><span class="html_bracket">></span>
  <span class="html_bracket"><</span><span class="html_bracket">/</span><span class="html_element">body</span><span class="html_bracket">></span>
<span class="html_bracket"><</span><span class="html_bracket">/</span><span class="html_element">html</span><span class="html_bracket">></span>
          </pre>
        </div>
      </div>
    </div>
  </section>
</section>
<div class="ad">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Video_2 -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-9694874056946796"
      data-ad-slot="8642827100"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{% endblock %}
