.com{
  color: grey;
  font-style: italic;
}

// Html

.html_bracket {
  color: #ffffffeb;
}

.html_element {
  color: #ff0f52;
}

.html_property {
  color: #f0f02c;
  font-style: italic;
}

.html_string {
  color: #4dc44d;
}

.html_text {
  color: #ffffffeb;
}

// Css


// Python